.alert-danger {
    color: red;
    font-size: smaller;
}

#loginCard {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}

md-input-container {
    width: 100%;
}

button#btnLogin {
    margin-left: 80%;
    margin-top: 5%;
}

.mat-toolbar.mat-primary{
    background: #587091;
}

.headerLogo{
    padding: 0 0 0 0px;
}

.headerArea{
    margin-bottom: 30px;
    padding-left: 0px;
    padding-top: 0px;
}

.loginHeaderLogo{
    margin-top: 14px;
    height: 80px;
}

.loginHeaderImage{
    margin-top: 18px;
    height: 70px;
}

