md-grid-tile {
  font-size: 12px;
  text-align: center;
}
.divCloseModal {
  text-align:right;
  height:25px;
}
.btnCloseModal {
  min-width:20px;
  background-color:#edeff0;
}
>>> figure.mat-figure#actualValue {
    border-style: groove;
}
label#lotsNameId1 {
    font-family: "Arial";
    color: #4A4A4A;
    font-weight: 500;
    font-size: 16px;
}
label#lotsNameId2 {
    font-family: "Arial";
    color: #4A4A4A;
    font-weight: 700;
     font-size: 16px;
}
    div#sourceDialog {
    height: 110px;
}